.logo-image{
    width: 150px;
}
.buy-now-button{
    border: none;
    padding: 10px 25px;
    background-color: black;
    color: white;
    border-radius: 10px;
}
.container{
    margin-bottom: 50px;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
}
.cat{
    padding: 30px 45px;
    box-shadow: 5px 5px 15px lightgray;
}
.cat1{
    border-radius: 5px 5px 5px 25px;
}
.cat2, .cat3{
    border-radius: 5px 5px 25px 5px;
}
